In [ ]:
#Range being inclusive:
li = list(range(0,10))
print(li)

In [ ]:
for i in range(len(li)+1):#We are simulating range giving us 0-10 inclusive
    print(li[i])

## Import Libraries and dataset

In [1]:
import pandas as pd
import numpy as np
np.random.seed(0)
#the library is imported now lets import our data using a nice pandas function called read_csv
#we would do:
data = pd.read_csv('DATA.csv')#
r = np.random.randint(low=0,high=1000, size=100).tolist()
data.iloc[r, 2] = pd.np.nan
X = data.iloc[:,0:3]#variables
y = data.iloc[:,3]#variables

/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
data.shape

(1000, 4)

In [3]:
print(data)

                   country    age  gender    salary
0                   Poland    NaN  Female  119459.0
1                 Colombia   73.0    Male  109999.0
2                    China    NaN    Male  135392.0
3                Indonesia   91.0    Male   49886.0
4           Czech Republic   53.0    Male  103178.0
5                   Canada  136.0  Female  131605.0
6                Indonesia    NaN    Male  146128.0
7                    China    NaN  Female  119298.0
8                    China  116.0  Female  123175.0
9                  Vietnam  114.0     NaN  138617.0
10   Palestinian Territory   32.0    Male       NaN
11                Pakistan   45.0  Female   66317.0
12                   China  140.0  Female   71870.0
13               Indonesia    NaN  Female       NaN
14                  Poland   61.0    Male   69626.0
15                  Mexico  149.0    Male   75329.0
16               Indonesia   53.0    Male   27189.0
17               Macedonia   36.0    Male  104105.0
18               Argentina  129.0  Female       NaN
19                   China   71.0    Male   74527.0
20             Philippines   70.0  Female   75104.0
21                   China  133.0    Male   90145.0
22             South Korea   27.0    Male   92813.0
23                Portugal   97.0    Male   31438.0
24                  Russia   63.0    Male   94148.0
25                  Poland   62.0  Female  114636.0
26                Portugal    NaN  Female   67986.0
27                    Cuba   65.0  Female   92651.0
28               Indonesia   38.0     NaN  107158.0
29                   China   23.0  Female   61712.0
..                     ...    ...     ...       ...
970                Albania    NaN  Female  141501.0
971              Argentina  117.0  Female   30840.0
972                 Brazil  106.0  Female   90653.0
973               Pakistan  139.0    Male   61385.0
974                  China   25.0    Male  124117.0
975                 France  104.0  Female   72772.0
976                 France   88.0     NaN  108438.0
977               Paraguay   28.0    Male   48238.0
978               Ethiopia   96.0  Female   28607.0
979              Venezuela   88.0  Female   23266.0
980                 Sweden   29.0    Male  109534.0
981                    NaN   85.0  Female   68133.0
982                    NaN    NaN    Male  146340.0
983                  Chile   37.0  Female  117160.0
984                 Monaco   93.0     NaN       NaN
985                  China  121.0  Female   47827.0
986               Colombia    NaN  Female  142232.0
987                 Russia    NaN    Male       NaN
988                    NaN  137.0    Male  142820.0
989               Portugal   61.0  Female   78093.0
990                 Russia   41.0    Male  135264.0
991                Ecuador   78.0  Female   42266.0
992              Indonesia   69.0    Male  123124.0
993         Czech Republic  111.0    Male  108623.0
994                   Cuba   43.0  Female   93962.0
995                 Brazil   50.0  Female  143198.0
996                 Poland  135.0  Female   72302.0
997               Portugal  142.0    Male   54861.0
998              Indonesia  123.0  Female   62233.0
999                  China   51.0     NaN       NaN

[1000 rows x 4 columns]

In [4]:
print(data.head(10))

          country    age  gender    salary
0          Poland    NaN  Female  119459.0
1        Colombia   73.0    Male  109999.0
2           China    NaN    Male  135392.0
3       Indonesia   91.0    Male   49886.0
4  Czech Republic   53.0    Male  103178.0
5          Canada  136.0  Female  131605.0
6       Indonesia    NaN    Male  146128.0
7           China    NaN  Female  119298.0
8           China  116.0  Female  123175.0
9         Vietnam  114.0     NaN  138617.0

In [5]:
print(data.tail(10))

            country    age  gender    salary
990          Russia   41.0    Male  135264.0
991         Ecuador   78.0  Female   42266.0
992       Indonesia   69.0    Male  123124.0
993  Czech Republic  111.0    Male  108623.0
994            Cuba   43.0  Female   93962.0
995          Brazil   50.0  Female  143198.0
996          Poland  135.0  Female   72302.0
997        Portugal  142.0    Male   54861.0
998       Indonesia  123.0  Female   62233.0
999           China   51.0     NaN       NaN

## Impute the age

In [6]:
X['age'].count()

892

In [7]:
#How to get the number of NaN's
X['age'].isna().sum()

108

In [8]:
#import imputer
from sklearn.preprocessing import Imputer
#impute age
#we have to instantiate the imputer object with parameters that we need
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)#NaN means not a number. axis means which direction rows = 1, columns = 0
X.iloc[:,1:2] = imputer.fit_transform(X.iloc[:,1:2])

In [9]:
#Check how many are NaN
X['age'].isna().sum()

0

## Encode + impute country

In [10]:
X['country'].value_counts()

China                    154
Indonesia                115
Russia                    61
Philippines               51
Poland                    40
Brazil                    35
Portugal                  33
France                    30
Sweden                    28
Argentina                 23
Greece                    18
Japan                     18
Czech Republic            17
Colombia                  16
Ukraine                   15
United States             15
Vietnam                   15
Peru                      13
Canada                    11
Thailand                  11
Mexico                     8
Malaysia                   7
Albania                    7
Pakistan                   6
Armenia                    6
Netherlands                5
Yemen                      5
Nigeria                    5
Norway                     5
Cuba                       5
                        ...
Bahamas                    1
Israel                     1
New Zealand                1
Zimbabwe                   1
Costa Rica                 1
Azerbaijan                 1
Senegal                    1
Guinea                     1
Dominica                   1
Equatorial Guinea          1
Falkland Islands           1
Cameroon                   1
Italy                      1
Luxembourg                 1
Palestinian Territory      1
Switzerland                1
Monaco                     1
Libya                      1
Maldives                   1
Malawi                     1
Niger                      1
Georgia                    1
Ghana                      1
Denmark                    1
Panama                     1
Tunisia                    1
Germany                    1
Slovenia                   1
Myanmar                    1
Liberia                    1
Name: country, Length: 118, dtype: int64

In [11]:
X['country'].count()

946

In [12]:
#How to get the number of NaN's
X['country'].isna().sum()

54

In [13]:
#Encode + impute country
#we have to impute the nans which are strings, we convert the actual NaN into a string "NaN"
X.loc[pd.isna(X['country']), 'country'] = 'NaN' #encode every nan into -1
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
X_label_encoder = LabelEncoder()
X.iloc[:, 0:1] = X_label_encoder.fit_transform(X.iloc[:, 0:1])#
#get the location of the Nan Value
missing_value_index = list(X_label_encoder.classes_).index('NaN')
#impute the data
imputer = Imputer(missing_values = missing_value_index, strategy = 'most_frequent', axis = 0)#NaN means not a number. axis means which direction rows = 1, columns = 0
X.iloc[:,0:1] = imputer.fit_transform(X.iloc[:,0:1])

/home/kevin/.local/lib/python3.6/site-packages/sklearn/preprocessing/label.py:111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [14]:
#Now lets see how many NAs we get
X['country'].isna().sum()

0

## encode + impute gender

In [15]:
print(X['gender'].value_counts())
print(len(X['gender']))

Male      459
Female    445
Name: gender, dtype: int64
1000

In [16]:
X['gender'].count()

904

In [17]:
#How to get the number of NaN's
X['gender'].isna().sum()

96

In [18]:
#Lets look at last 5 rows
X.tail(5)

     country    age  gender
995     16.0   50.0  Female
996     92.0  135.0  Female
997     93.0  142.0    Male
998     51.0  123.0  Female
999     23.0   51.0     NaN

# Assignment

## Impute the gender

In [19]:
#Hint: use the imputer

In [20]:
#convert the true NaN to a string 'NaN'
X.loc[pd.isna(X['gender']), 'gender'] = 'NaN'

In [21]:
#encode genders into labels
X_label_encoder = LabelEncoder()
X.iloc[:, 2:3] = X_label_encoder.fit_transform(X.iloc[:, 2:3])#

/home/kevin/.local/lib/python3.6/site-packages/sklearn/preprocessing/label.py:111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [22]:
print(X['gender'].value_counts())
print(len(X['gender']))

1    459
0    445
2     96
Name: gender, dtype: int64
1000

In [25]:
missing_value_index = list(X_label_encoder.classes_).index('NaN')
imputer = Imputer(missing_values = missing_value_index, strategy = 'most_frequent', axis = 0)#NaN means not a number. axis means which direction rows = 1, columns = 0
X.iloc[:,2:3] = imputer.fit_transform(X.iloc[:,2:3])

In [26]:
print(X['gender'].value_counts())
print(len(X['gender']))

1.0    555
0.0    445
Name: gender, dtype: int64
1000

In [ ]:
#encode + impute gender
X_label_encoder = LabelEncoder()
X.iloc[:, 2:3] = X_label_encoder.fit_transform(X.iloc[:, 2:3])

In [27]:
onehotencoder = OneHotEncoder(categorical_features = [0,2])
X = pd.DataFrame(onehotencoder.fit_transform(X).toarray())#we lost interpretability

In [28]:
print (X.head(5))

   0    1    2    3    4    5    6    7    8    9      ...      111  112  113  \
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0    ...      0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0    ...      0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0    ...      0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0    ...      0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0    ...      0.0  0.0  0.0

   114  115  116  117  118  119        120
0  0.0  0.0  0.0  0.0  1.0  0.0  83.799327
1  0.0  0.0  0.0  0.0  0.0  1.0  73.000000
2  0.0  0.0  0.0  0.0  0.0  1.0  83.799327
3  0.0  0.0  0.0  0.0  0.0  1.0  91.000000
4  0.0  0.0  0.0  0.0  0.0  1.0  53.000000

[5 rows x 121 columns]

## Split the data in to training and testing sets

In [29]:
#create train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

## Scale the Data

In [30]:
#Scale the data
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

## For the categorical variables instead of using sklearn to impute and conver to one-hot we can use the builtin pandas function get_dummies

In [31]:
#use this function. It will create the dummy variables and impute the data:
def produce_dummies(X, label):#gives us the mode for the categorical variable
    dummies = pd.get_dummies(X[label], dummy_na = True)
    mode_label = dummies.sum().sort_values(ascending=False, inplace=False).head(1).index[0]
    dummies[mode_label] += dummies[None]
    del dummies[None]
    X = pd.concat([X, dummies], axis=1)#make the dummies and concat with original data
    X.drop(label, inplace=True, axis=1)#drop the original columns
    return X

In [34]:
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)#NaN means not a number. axis means which direction rows = 1, columns = 0
X = data.iloc[:,0:3]#variables
y = data.iloc[:,3]#variables
X.iloc[:,1:2] = imputer.fit_transform(X.iloc[:,1:2])
#use special function
X = produce_dummies(X, 'country')
X = produce_dummies(X, 'gender')
print(X.head(5))

         age  Afghanistan  Albania  American Samoa  Angola  Anguilla  \
0  83.799327            0        0               0       0         0
1  73.000000            0        0               0       0         0
2  83.799327            0        0               0       0         0
3  91.000000            0        0               0       0         0
4  53.000000            0        0               0       0         0

   Antigua and Barbuda  Argentina  Armenia  Austria  ...   United Kingdom  \
0                    0          0        0        0  ...                0
1                    0          0        0        0  ...                0
2                    0          0        0        0  ...                0
3                    0          0        0        0  ...                0
4                    0          0        0        0  ...                0

   United States  Uzbekistan  Vanuatu  Venezuela  Vietnam  Yemen  Zimbabwe  \
0              0           0        0          0        0      0         0
1              0           0        0          0        0      0         0
2              0           0        0          0        0      0         0
3              0           0        0          0        0      0         0
4              0           0        0          0        0      0         0

   Female  Male
0       1     0
1       0     1
2       0     1
3       0     1
4       0     1

[5 rows x 121 columns]

In [35]:
#25% of the values are less than 48 for age
data.describe()

              age         salary
count  892.000000     916.000000
mean    83.799327   84892.482533
std     39.582205   37461.694973
min     18.000000   20049.000000
25%     48.000000   53300.750000
50%     85.000000   83250.000000
75%    119.000000  118298.750000
max    150.000000  149186.000000

# Jepordy

In [37]:
#1)What does this code do?
li = list(np.random.randint(0,100, 20))

In [38]:
#2)Why are we getting this error?

for i in range(li):
    print(li)

TypeError: 'list' object cannot be interpreted as an integer

In [42]:
#3)What does this code do?
def g(x):
    x*2
print(g(2))

None

In [ ]:
#4)How can we fix it?

In [ ]:
#5)
a = 5
def h(a)
    a = a*2
    return a
#What is a?

When would you want to use a for loop?

When would you want to define a function?

When would you want to define a function

Why do we import libraries?

Why do we import libraries

What is imputation and why do we do it?

What is imputation and why do we do it

What is the difference between training data and test data?

What is the least enjoyable part of a data scientist's job?

What is an outlier? Should we get rid of it?

Why is it important to do data cleaning and preprocessing?

What is overfitting?

What is generalization?

When you define a function, when should you use the "return" command?

Why do variables inside a function don't interact with variables outside the function?

When we are not sure how to do something in python, what should we do?